* {
    margin: 0;
    padding: 0;
}
html {
    --sans-serif: Arial, Helvetica, sans-serif;
    --serif: 'Lora', 'Palatino Linotype', serif;
}
a {
    color: #FFAEFF;
    text-decoration: none;
}
a:hover {
    color: #ff00ff;
    text-decoration: underline;
}
h1 {
    font-family: var(--serif);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0.1em;
    padding: 0px 20px 0 0;
    color: grey;
}
h2 {
    font-family: var(--sans-serif);
    font-size: 22px;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 20px 40px 0;
    color: grey;
    line-height: 1.6em;
}
p {
    font-family: var(--sans-serif);
    line-height: 1.6em;
    color: grey;
}
header {
    /*position: fixed;*/
    width: 1000px;
    margin-left: 40px;
}
body.scrolled #header-menu {
    opacity: 0;
    transition: opacity .8s;
}
main {
    margin-top: 500px;
    margin-left: 40px;
}
line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

b i {
    color: #70BEBE;
}

/* ====== GRID ====== */

.grid-container {
    position: fixed;
    display: grid;
    margin-top: 20px;
    margin-left: 40px;
    grid-template-columns: 830px auto;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    height: 500px;
    grid-template-areas:
            "header key"
            "zoom   .  ";
}
@media only screen and (max-width: 1200px) {
    .grid-container {
        position: fixed;
        display: grid;
        margin-top: 20px;
        margin-left: 40px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 30px;
        height: 500px;
        grid-template-areas:
                "header header"
                "key    key"
                "zoom   zoom";
    }
}
.grid-header {
    grid-area: header;
}
.grid-key {
    grid-area: key;
    padding-top: 10px;
}
.grid-zoom {
    grid-area: zoom;
}

/* ====== TOOLTIP ====== */

.tooltip {
    position: absolute;
    text-align: left;
    padding: 15px;
    background: #8deeee;
    opacity: 0.5;
    pointer-events: none;
    width: 400px;
    font-family: var(--sans-serif);
    font-size: 13px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.tooltip h1 {
    padding: 0;
}

.tip #name {
    color: black;
    font-family: 'Lora', serif;
    font-size: 30px;
}
.event_label {
    font-family: var(--sans-serif);
    font-size: 38.6364px; /*Font size is set in JS, so must start at very specific float value*/
    opacity: 0.5;

}
.agency {
    font-family: var(--sans-serif);
    font-size: 30px;
    opacity: 0.5;
}
.agency_lines {
    stroke-width: 14px;
    opacity: 0.2;
}
#graph{
    padding-top: 40px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 3700px;
    height: 11300px;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 0;
}

/* ====== ZOOM SLIDER SETTINGS ====== */

.zoom {
    font-family: var(--sans-serif);
    color: lightgrey;
    padding-bottom: 10px;
}

.slidecontainer {
    /*position: absolute;*/
    margin: 0;
    width: 810px;
}
.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 10px;
    background: #F0F0F0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 25px;
    background: #FFAEFF;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: #ffaeff;
    cursor: pointer;
}

/* ====== CAREER HISTORY TEXT ====== */

.career_history {
    font-family: var(--sans-serif);
    color: black;
    font-size: 38.6364px;
    opacity: 1;
}
.jobsContainer {
    font-family: var(--sans-serif);
    background-color: red;
    color: black;
    font-size: 38.6364px;
    opacity: 1;
    text-align: end;
}
.jobsRow {
    font-family: var(--sans-serif);
    width: 700px;
    height: 100px;
    background-color: red;
    color: black;
    text-align: end;
    z-index: 100000;
}
.mouseover_for_career_hist {
    position: absolute;
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 11pt;
    padding: 20px;
    font-family: var(--serif);
    width: 160px;
    color: lightgrey;
    margin-top: 600px;
    margin-left: 60px;
    z-index: 500;
}
.fixed {
    position: fixed;
    margin-left: 60px;
    margin-top: 30px;
    top:0;
}

/* ====== BROWSER WARNINGS ====== */

#noSafari {
    position: fixed;
    display: flex;
    font-family: var(--sans-serif);
    font-color: lightgrey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 24px;
    color: black;
    z-index: 100;
}
#blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 0.9;
    z-index: 50;
    visibility: hidden;
}
